<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'carsifydealers/css/bootstrap.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'carsifydealers/css/addcar.css' %}"> -->
    <link rel="stylesheet" href="{% static 'carsifydealers/css/style2.css' %}">
    
    <title>{% block title %}other{% endblock title%}</title>
</head>
<body>
<div class="container-fluid bg-dark">
    {% include 'carsifydealers/navbar.html'%}
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-3">
            {% block msg %}
            {% endblock msg %}
        </div>
    </div>
    <div class="row">
        {% block side %}
        {% endblock side %}
        {% block content %}
        {% endblock content %}


    </div>
</div>
<script src="{% static 'carsifydealers/js/jquery.js' %}"></script>
<script src="{% static 'carsifydealers/js/popper.js' %}"></script>
<script src="{% static 'carsifydealers/js/bootstrap.js' %}"></script>
<!-- <script src="{% static 'carsifydealers/js/addcar.js' %}"></script> -->
</body>
</html>