{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="{% static 'carsifydealers/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'carsifydealers/css/navbar.css' %}">
    <link rel="shortcut icon" href="{% static 'carsifydealers/images/favicon.png' %}" type="image/.png">
    <title>Carsify | Home</title>
  </head>
  <body>
   {% if News %}
    <script>
      alert("Your mail is subscribed!");
    </script>
    {% endif %}

   {% if allready %}
    <script>
      alert("Your Request hasb been send we will contact yout soon!");
    </script>
    {% endif %}

    <nav class="navbar sticky-top navbar-light navbar-expand-lg" >
		<div class="container-fluid drop px-md-5">
			<a href="#" class="navbar-brand pl-md-5"> 
                <div class="logo_nav">
                    <img src="{% static 'carsifydealers/images/logo4.png' %}" alt=""> 
                </div>
            </a>

			<button class="navbar-toggler " data-toggle="collapse" data-target="#navbarid">
				<span class="navbar-toggler-icon"></span>
			</button> 
			<div class="collapse navbar-collapse text-center" id="navbarid" >
				<ul class="navbar-nav ml-auto pr-md-5">  
					<li class="nav-item"><a href="#about" class="nav-link py-3 px-4">About</a></li>
					<li class="nav-item"><a href="#services" class="nav-link py-3 px-4">Services</a></li>
					<!-- <li class="nav-item"><a href="#" class="nav-link py-3 px-4">LOREM</a></li> -->
					<li class="nav-item"><a href="#contactus" class="nav-link py-3 px-4">Contact Us</a></li>
                    {% if not request.user.is_authenticated %}
					<li class="nav-item"><a href="{% url 'userlogin' %}" class="nav-link py-3 px-4">Login</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'userlogout' %}" class="nav-link py-3 px-4">Logout</a></li>
                    {% endif %}
				
			    </ul> 
			</div>
		</div> 
	</nav>
	<div id="about" class="head">
		<div class="container py-5 ">
			<div class="row py-md-5">
				<div class="col-md-6 pt-md-4">
					<div class="text-center text-md-left px-2">
						<h3 class="text-white mt-md-5 mb-3">Introducing India’s First B2B Auto Dealer Platform </h3>
						<p class="text-white  my-4">No need to scour through millions of cold trails. Log in to Carsify and connect with B2B buyers and sellers across India. Carsify is a well-organized platform for hassle-free Dealer Management to help boost your car sale and make more profit

                        </p>
						<a href="{% url 'userlogin' %}" ><button class="headbut"> LogIn </button></a>
					</div>
				</div>
				<div class="col-md-6 p-3">
					<img src="{% static 'carsifydealers/images/undraw_Image_upload_re_w7pm.png' %}" width="100%" height="100%">
				</div>
			</div>
		</div>
	</div>
    <div class="subhead">
        <h3 data-aos="fade-up">Tired of hunting vehicles on social media platforms ?</h3>
        <p data-aos="fade-up">We are here to help you. Carsify is a well-organized platform for hassle-free Dealer Management to help boost your car sale and revolutionize the traditional approach. We aim to connect all dealers and build a comprehensive network of India's First B2B dealer Management System.
        </p>
        <div data-aos="fade-up">
            <i class="fa fa-angle-down"></i>
        </div>
        <a href="#contactus"><button data-aos="fade-up">Contact Us</button></a>
    </div>
    <div id="services" class="container-fluid">
        <div class="container servicesmain">
          <h1 class="text-center headings">Services</h1>
            <div class="row">
                <div class="col-md-6">
                   <div id="main">
                     <div id="post" style="padding-top: 80px !important;">
                       <div id="main_post">
                         <img src="{% static 'carsifydealers/images/B2B_Car_sale.png' %}" alt="">
                       </div>
                       <div id="main_info">
                           <h4>B2B car sale</h4>
                            <p>You can now reduce dealership operating costs & save time through a stronger and personalized user experience. Explore and buy whatever is required in the shortest period possible with our automated and virtually done system. Eliminate the risk of human errors amidst the process of contacting to closing the deal.

                            </p>
                       </div>
                     </div>
                   </div>
                </div>
                <div class="col-md-6">
                 <div id="main">
                   <div id="post">
                     <div id="main_post">
                       <img src="{% static 'carsifydealers/images/Dealer_Inventory_Management.png' %}" alt="">
                     </div>
                     <div id="main_info">
                         <h4>Dealer Inventory Management</h4>
                       <p>With our assistance, you can perform day-to-day sales, services, and financial tasks simultaneously and improve every aspect of the business with all the resources in   need. It will be easier to manage all the financial operations in one location and run a stress-free enterprise. Handle the overall business and keep a better track of all the dealership's operations in one cloud-based dealership software framework.
                    </p>
                     </div>
                   </div>
                 </div>
              </div>
            </div>
            <div class="row">
             <div class="col-md-6">
                <div id="main">
                  <div id="post">
                    <div id="main_post">
                      <img src="{% static 'carsifydealers/images/Dealer_Branding.png' %}" alt="">
                    </div>
                    <div id="main_info">
                        <h4>Dealer Branding</h4>
                     <p>Get the name on everyone's tongue with the best dealership branding tailored for you. You can now raise brand awareness and become a household name in the market, just by joining us. It’s a golden chance to obtain new customers, which will catalyze the effective and low-cost launch of new products in the future. So don’t hustle, leave the troubles to us. We will help to improve your reputation amongst the buyers, leading to increased sales chances.
                    </p>
                    </div>
                  </div>
                </div>
             </div>
             <div class="col-md-6">
              <div id="main">
                <div id="post" style="padding-top: 80px !important;">
                  <div id="main_post">
                    <img src="{% static 'carsifydealers/images/Bulk_Sale_New1(1).png' %}" alt="">
                  </div>
                  <div id="main_info">
                      <h4>Bulk sale</h4>
                    <p>You can dissolve a range of cars to attract more traffic. It’s time to get more for the same value and save it in the long run with bulk purchasing merits in economies of scale. With our support, you can Increase the sale at a price cheaper than your rivals' and hike up the revenue. Get your spirits high & eliminate the possibility of being out of stock.
                    </p>
                  </div>
                </div>
              </div>
           </div>
         </div>
        </div>
    </div>
    <div class="container-fluid run_body_main">
        <div class="container run_body">
            <div class="text-center">
                <h1 class="headings">Free yourself from the stress of running a business </h1>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-6 run_card">
                            <div data-aos="flip-left" class="run_card_inner">
                            <div class="run_cardimg">
                                    <img src="{% static 'carsifydealers/images/assurance-icon.png' %}">
                                </div>
                                <h6>We assure our dealers' long-term viability in the industry.</h6>
                            </div>
                        </div>
                        <div class="col-6 run_card">
                            <div data-aos="flip-left" class="run_card_inner">
                            <div class="run_cardimg">
                                    <img src="{% static 'carsifydealers/images/risk.png' %}">
                                </div>
                                <h6>Our B2B service eliminates the risk of being exploited by middlemen.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 run_card">
                            <div data-aos="flip-left" class="run_card_inner">
                                <div class="run_cardimg">
                                    <img src="{% static 'carsifydealers/images/contact.png' %}">
                                </div>
                                <h6>We meet every customer’s need with abundant leads throughout the country.</h6>
                            </div>
                        </div>
                        <div class="col-6 run_card">
                            <div data-aos="flip-left" class="run_card_inner">                            
                                <div class="run_cardimg">
                                    <img src="{% static 'carsifydealers/images/noun_account_2331171.png' %}">
                                </div>
                                <h6>Don’t worry, the registration is free of any cost!</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" class="col-lg-6">
                    <div class="fruitful_inner">
                        <img src="{% static 'carsifydealers/images/Management(1).png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="text-center body_div_works"> 
        <h1 class="headings">How it works ?</h1>
        <div class="container">
            <div class="works_div">
                <div class="row  moflex">
                    <div class="col-md-6 p-4">
                        <div class="works1">
                            <div data-aos="zoom-in-up" class="row">
                                <div class="number">1</div>
                                <div class="work_">
                                    <h3 class="works_head">Upload your inventory on the Carsify portal.</h3>
                                </div>
                            </div>
                            <div data-aos="zoom-in-up" class="row">
                                <div class="number">2</div>
                                <div class="work_">
                                    <h3 class="works_head">Connect with dealers across the country.</h3>
                                </div>
                            </div>
                            <div data-aos="zoom-in-up" class="row">
                                <div class="number">3</div>
                                <div class="work_">
                                    <h3 class="works_head">Build a vast auto dealer <br> network.</h3>
                                </div>
                            </div>
                            <div data-aos="zoom-in-up" class="row">
                                <div class="number">4</div>
                                <div class="work_">
                                    <h3 class="works_head">Generate leads for your demand & supply.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-up" class="col-md-6">
                        <div class="text-center works2">
                            <img src="{% static 'carsifydealers/images/sell_cars.png' %}" class="image" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container fruitful">
        <div class="text-center">
            <h1 style="text-transform: capitalize;">A fruitful B2B relationship</h1>
        </div>
        <div class="row">
            <div data-aos="zoom-in-up" class="col-lg-6">
                <div class="fruitful_inner">
                    <img src="{% static 'carsifydealers/images/one.png' %}">
                </div>
            </div>
            <div data-aos="zoom-in-up" class="col-lg-6">
                <div class="para">
                    <p>By using our platform, B2C provider’s drawbacks will effectively be removed from the equation. As a result, a reliable buyer-seller partnership develops. This not only aids sellers in gaining the interest of buyers but can also lead to potential purchases. With Carsify, you can build on these advantages and get on the digital bandwagon to keep up with the online marketing trend which shall transcend into the future.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
        <div class="text-center">
            <h1 class="headings">What our Client say ?</h1>
        </div>
        <div class="container-fluid p-0 testimonial">
            <div class="testimonial_main">
                <div class="container testimonial_inner">
                    <!-- <h1 class="text-center">runjhun goyal</h1> -->
                    <!-----------------slider------------------------------------- -->
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                       <!---indicators-->
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                          
                        </ol>
                        <!--  / indicators -->
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                                <p class="client_des">Thanks to Carsify for providing me with a platform to find dealers easily. It’s new, fresh, and innovative. As a new dealer, it helped me to understand the market complexities and saved me from dealing with frauds. I appreciate the user-friendly website. It simply is a cherry on the top.</p>
                                <h3 class="client_name">Mr. Ajaz Baig</h3>
                                <div class="testimonial_img">
                                    <img src="{% static 'carsifydealers/images/baig.jpeg' %}" class="rounded-circle mx-auto d-block client_img">
                                </div>
                          </div>
                          <div class="carousel-item">
                                <p class="client_des">Carsify helped me to connect with reliable dealers all over. It saved me from the hustle to find and connect with dealers and rather simplified it a tap away. Its’ easy-to-use service helped me to go a long way to earn profits.I would suggest it to everyone.It’s new, fresh, and innovative.</p>
                                <h3 class="client_name">Rameez Mohammad Khan</h3>
                                <div class="testimonial_img">
                                    <img src="{% static 'carsifydealers/images/khan.jpeg' %}" class="rounded-circle mx-auto d-block client_img">
                                </div>
                          </div>
                          <div class="carousel-item">
                            <p class="client_des">Not only did Carsify helped me grow but it also helped to manage my work easily. It helped me to keep track of all my dealership operations in an easy and simplified manner. Appreciate the Incentive. I would suggest it to everyone.Resourceful and Reliable Platform. Easy to communicate & Thanks to your services, I can grow and establish my dealership business with authentic and genuine support. </p>
                            <h3 class="client_name">Haroon Khan</h3>
                            <div class="testimonial_img">
                                <img src="{% static 'carsifydealers/images/haroon.jpeg' %}" class="rounded-circle mx-auto d-block client_img">
                            </div>
                      </div>

                          <div class="carousel-item">
                                <p class="client_des">Carsify is a simple and revolutionary platform that changed the way dealers worked. It helped me to connect with many dealers and expand my business. I am extremely satisfied with their services and would recommend it to all dealers. Let’s connect through Carsify and makes our work easy.</p>
                                <h3 class="client_name">Rufed Khan</h3>
                                <div class="testimonial_img">
                                    <img src="{% static 'carsifydealers/images/Rufed.jpg' %}" class="rounded-circle mx-auto d-block client_img">
                                </div>
                            
                            <!-- <div class="carousel-item">
                                <p class="client_des"></p>
                                <h3 class="client_name">Haroon Khan</h3>
                                <div class="testimonial_img">
                                    <img src="{% static 'carsifydealers/images/haroon.jpeg' %}" class="rounded-circle mx-auto d-block client_img">
                                </div>
                            </div> -->
                      </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                </div>
            </div>
        </div>
    
     <div class="container-fluid counter_div">
         <div class="container counter_main">
             <div class="row">
                 <div class="col-lg-3 col-md-6">
                     <div class="counterone">
                         <img src="{% static 'carsifydealers/images/DEALERS_REGISTERED.png' %}">
                         <h3 class="counter_number" data-target="40">0</h3>
                         <h4>Dealers Registered</h4>
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                     <div class="counterone">
                         <img src="{% static 'carsifydealers/images/By_my_car-bro_(2).png' %}">
                         <h3 class="counter_number" data-target="32">0</h3>
                         <h4>Cars Uploaded</h4>
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                     <div class="counterone">
                         <img src="{% static 'carsifydealers/images/Asset 1.svg' %}">
                         <h3 class="counter_number" data-target="12">0</h3>
                         <h4>Cars Sold</h4>
                     </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                     <div class="counterone">
                         <img src="{% static 'carsifydealers/images/undraw_Image_presentation_re_w7pm_Change(1) (2).png' %}">
                         <h3 class="counter_number" data-target="28">0</h3>
                         <h4>Bussiness Expanded</h4>
                     </div>
                 </div>
             </div>
         </div>
     </div>
    
    <div class="container body_last">
        <div class="row">
            <div data-aos="zoom-in-up" class="col-lg-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d234700.85820778937!2d77.26580536426651!3d23.199347693033406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c428f8fd68fbd%3A0x2155716d572d4f8!2sBhopal%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1619179008197!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div data-aos="zoom-in-up" class="col-lg-6">
                <div class="last_content">
                    <h2 class="headings">Go Digital, Drive Forward</h2>
                    <p>Managing an online B2B auto enterprise is no easy job. Carsify was created keeping all the
                        regarding troubles in mind. Online business has never been this easy. Presenting you a platform
                        having a simple business operating environment ensuring complete dealing transparency,
                        improved accessibility, and maximum loyalty. Want to learn more? Talk to us or book a demo
                        today</p>
                </div>
            </div>
        </div>
    </div>
   
    <div id="contactus" class="container-fluid main_contact">
    <div class="container contact_div">

        <h1 class="text-center headings">Contact Us</h1>
        <p class="text-center contact_subhead">For further queries, feel free to contact us.</p>
        <div class="contact">
            
            <div class="row">
                <div class="col-lg-4 padding">
                    <div class="contact_img">
                        <div class="contact_content">
                        <h6>Carsify Is here to help you.</h6>
                        <p></p>

                        <ul>
                            <li>
                                <i class="fa fa-phone"></i>
                                +91-9826273338
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                carsify.in@gmail.com
                            </li>
                        </ul>
                    </div>
                    <div class="icons_images">
                    <div class="social">
                        <ul>
                            <li><a href="carsify.in@gmail.com"><i class="fa fa-envelope"></i></a></li>
                            <li><a href="http://linkedin.com/in/carsify"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/carsify.in/"><i class="fa fa-instagram"></i></a></li>
                            <!-- <li><a href=""><i class="fa fa-linkedin"></i></a></li> -->
                        </ul>
                    </div>
                    
                        <div class="pink_circle"></div>
                       
                        <div class="full_circle"></div>
                    </div>
                    
                    </div>
                </div>

                <div class="col-lg-8 contact_form">
                    <form method="post">
                        {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <p>Name </p>
                            <input name="name" type="text">
                        </div>
                        <div class="col-md-6">
                            <p>Contact Number</p>
                            <input name="number" type="number">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>City </p>
                            <input name="city"  type="text">
                        </div>
                        <div class="col-md-6">
                            <p>State</p>
                            <input name="state" type="text">
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-12 radio">
                        <p>Queries related to </p>
                        <label>
                            <input type="radio" name="query" value="B2B Portal" id=""><span class="radio_span">B2B Portal</span>
                        </label>
                        <label>
                            <input type="radio" name="query" value="Bulk Sale" id=""><span class="radio_span">Bulk Sale</span>
                        </label>
                        <label>
                            <input type="radio" name="query" value="Dealer Branding" id=""><span class="radio_span">Dealer Branding</span>
                        </label>
                        <label>
                            <input type="radio" name="query" value="Any Others" id=""><span class="radio_span">Any Others</span>
                        </label>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-12">
                        <p>Remarks if any :</p>
                        <textarea name="remark"></textarea>
                    </div>
                    </div>
                    <button type="submit">Contact Us</button>
                </form>
                </div>

            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid body_goodbye">
        <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h3>Say goodbye to poor management services</h3>
                <p>Taking the company online can also lead to poor management. Carsify pays particular attention to it, ensuring a smooth journey for the customer from beginning to end.</p>
            </div>
            <div class="col-lg-3 btn_goodbye">
                <a href="{% url 'userlogin' %}"><button>LogIn </button></a>
            </div>
        </div>
        </div>
    </div>
    <div class="container footer_div">
        <div class="row">
            <div class="col-6 col-lg-3 footerlogo">
                <ul>
                    <li> <img class="footer_logo" src="{% static 'carsifydealers/images/logo6.png' %}"></li>
                    
                </ul>
            </div>
            <div class="col-6 col-lg-2"
                <ul>
                    <li><h5>Quick Links</h5></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contactus">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2">
                <ul>
                    <li><h5>Services</h5></li>
                    <li><a href="#services">B2B car sale</a></li>
                    <li><a href="#services">Dealer Inventory Management</a></li>
                    <li><a href="#services">Dealer Branding</a></li>
                    <li><a href="#services">Bulk sale</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-5">
                <ul>
                    <li>
                        <div class="icons">
                            
                                <a href="carsify.in@gmail.com"><i class="fa fa-envelope"></i></a>
                                <a href="http://linkedin.com/in/carsify"><i class="fa fa-linkedin"></i></a>
                                <a href="https://www.instagram.com/carsify.in/"><i><img src="https://img.icons8.com/material-rounded/24/000000/instagram-new.png"/></i></a>
                                <!-- <li><a href=""><i class="fa fa-linkedin"></i></a></li> -->
                            
                        </div>
                    </li>
                    
                    <li>
                        <form method="post">
                        <div class="subscribe">

                                {% csrf_token %}
                                <input type="email" name="nemail" placeholder="Enter Your Mail">
                                <input type="submit" value="Subscribe">

                        </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

        <div class="animation_div">
           <img class="car_image" src="{% static 'carsifydealers/images/volks.gif' %}">
           <img class="cycle_image" src="{% static 'carsifydealers/images/cyclist.gif' %}">
        </div>
    <script src="{% static 'carsifydealers/js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>