{% load static %} 


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'carsifydealers/css/navbar.css' %}"
    />
    <link rel="stylesheet" href="{% static 'carsifydealers/css/login.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'carsifydealers/images/favicon.png' %}"
      type="image/.png"
    />
    <title>Sign in & Sign up Form</title>
  </head>
  <body>
    {% if error %}
    <script>
      alert("password is incorrect");
    </script>
    {% endif %} 
    {% if Con %}
    <script>
      alert("all ready registed user");
    </script>
    {% endif %}
    {% if not_exist %}
    <script>
      alert("User do not exist");
    </script>
    {% endif %}

    <a href="{% url 'home' %}">
      <div class="logo">
        <img src="{% static 'carsifydealers/images/logo52.png' %}" alt="" srcset="" />
      </div>
    </a>
    <a href="{% url 'home' %}">
      <div class="logo2">
        <img src="{% static 'carsifydealers/images/logo62.png' %}" alt="" srcset="" />
      </div>
    </a>
    <div class="containers">
      <div class="forms-containers">
        <div class="signin-signup">
          
          <form
            method="post"
            action="{% url 'userlogin' %}"
            class="sign-in-form"
          >
            {% csrf_token %}
            <h2 class="title">Sign in</h2>
            {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}

        {% endif %}
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input name="username" type="text" placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input
                name="password"
                type="password"
                placeholder="Password"
                id="PassField"
              />
            </div>
            <p class="show_pass">
              <input
                class="showpass"
                type="checkbox"
                onclick="showPass()"
              /><span class="showpass_label">Show Password</span>
            </p>
            <input type="submit" value="Login" class="btn solid" />
            <a href="#"
              >
              <div class="d-flex google-btn">
                <img class="google-icon mr-3" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/> Login With Google
              </div>
            </a>
            <label style="cursor: pointer; color: blue"
              >Forgot Password ?</label
            >
          </form>

          <form
            method="post"
            action="{% url 'usersignup' %}"
            class="sign-up-form"
            enctype="multipart/form-data"
            nonvalidate
          >
            {% csrf_token %}
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <!-- <input name="first_name" type="text" id="id_first_name" placeholder="Full Name" required/> -->
              <input type="text" name="first_name" class="form-control"placeholder="Name" required="" maxlength="150" id="id_first_name">
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="text" name="username" class="form-control" placeholder="Username" maxlength="150" autofocus="" required="" id="id_username">
            </div>
            <div class="input-field">
              <i class="fas fa-phone"></i>
              <!-- <input name="phonenumber" type="Number" id="id_phonenumber" placeholder="Mobile Number" required/> -->
              <input type="text" name="phonenumber" placeholder="Mobile" required="" id="id_phonenumber">
            </div>
            
            <!-- <div class="input-field">
              <i class="fas fa-map-marker"></i>
              <input type="text" placeholder="Address" />
            </div> -->
            <!-- <div class="input-field">
              <i class="fas fa-car"></i>
              <select>
                <option value="option one">option 1</option>
                <option value="option two">option 2</option>
                <option value="option three">option 3</option>
                <option value="option four">option 4</option>
              </select>
            </div> -->
            <!-- <div class="input-field">
              <i class="fas fa-car"></i>
              <select>
                <option value="option one">option 1</option>
                <option value="option two">option 2</option>
                
              </select>
            </div> -->
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <!-- <input name="password" id="id_password1"  type="password" placeholder="Password" required/> -->
              <input type="password" name="password1" placeholder="Password" class="form-control" required="" id="id_password1">
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <!-- <input name="password2" id="id_password2"  type="password" placeholder="Password" required/> -->
                <input type="password" name="password2" placeholder="Confirm Password" class="form-control" required="" id="id_password2">
              </div>
            
              <div class="input-field">
                <i class="fa-regular fa-image fas"></i>
                 <!-- <input name="password2" id="id_password2"  type="password" placeholder="Password" required/> -->
                <!--  <input type="file" name="gumasta" accept="image/*" required="" id="id_gumasta"> -->
                <input id="id_gumasta" name="gumasta"  type="file" required>
              </div>
              {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}

        {% endif %}
            <!-- <div class="input-field d-none " id="OTPField">
              <i class="fas fa-inbox"></i>
              <input name="otp" type="number" id="otp" max="9999" maxlength="4" placeholder="OTP" required/>
            </div> -->
            <button type="submit" class="btn btn-lg btn-outline-success">Submit</button>
            <!-- <input type="submit" value="Signup" class="btn solid" /> -->
            <!-- <input style="display: none; " type="file" id="image_one">
            <input style="display: none; " type="file" id="image_two">
            <input style="display: none; " type="file" id="image_three">
            <label for="">Upload Image<ul style="display: inline-block;">
              <i class="fa fa-plus" id="button_one" aria-hidden="true"></i>
              <i class="fa fa-plus" id="button_two" aria-hidden="true"></i>
              <i class="fa fa-plus" id="button_three" aria-hidden="true"></i>
            </ul>
          </label> -->
            <!-- <a href="#" class='google-sign-in'
              >
              <div class="d-flex google-btn">
                <img class="google-icon mr-3" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/> Login With Google
              </div>
            </a>
            <p class="text-decoration-none text-primary ms-auto d-none" id="resendOTP" onClick= "OTPSending();">Resend OTP</p>
            <button class="btn" type="button" onClick="OTPSending();" id="OTPBtn"> Send OTP</button>
            <button class="btn d-none" id="signupBtn" type="button" >Sign up</button> -->
          </form>
        </div>
      </div>

      <div class="panels-containers">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
              If you're dealer looking to grow your business , Join us now !
            </p>
            <button class="btn transparent" id="sign-up-btn">Sign up</button>
          </div>
          <img
            src="{% static 'carsifydealers/images/one.png' %}"
            class="image"
            alt=""
          />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>Already a user , click below to sign in to your account</p>
            <button class="btn transparent" id="sign-in-btn">Sign in</button>
          </div>
          <img
            src="{% static 'carsifydealers/images/By_my_car-bro_(2).png' %}"
            class="image"
            alt=""
          />
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    {% comment %} <script src="{% static 'carsifydealers/js/otp.js' %}"></script> {% endcomment %}
    <script>
    $("#signupBtn").click(function(){
    var otp = $("#otp").val();
    $.ajax({
      method:"POST",
      url:"/checkOTP/",
      dataType:"json",
      data:{
        otp : otp,
        csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success:function(res){
          if(res.data == 1){
            $.ajax({
              url:"/signup/",
              dataType:"json",
              method:"POST",
              data:{
                'name': $("#name").val(),
                'email' : $("#email").val(),
                'number': $("#number").val(),
                'password' : $("#password").val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
              },
            })
            window.location.reload();
          }
          if(res.data == 0){
          alert("Invalid OTP");}
      }
    })
  });

  function CheckFields(){
    var name = $("#name").val();
    var email = $("#email").val();
    var number = $("#number").val();
    var password = $("#password").val();
    if(name == "" || email == "" || number == "" || password.trim() == ""){
      console.log(name," ",email," ",number," ",password);
      return false;
    }
    return true;
}  

var password = document.querySelector("#password");
password.on("keyup",function(e){
  if(e.keyCode == 13){
    $("#OTPBtn").click();
  }
});

function OTPSending(){
  var email = document.querySelector("#email").value;
  if(CheckFields()){
    $.ajax({
      url: "/mailOTP/",
      type: "POST",
      dataType: "json",
      data: {
        email: email
      },
      success: function (response) {
        if(response.exist == 1){
          alert("Email Already Registered!");
        }
        else{
        console.log(response.data)
        $("#resendOTP").removeClass("d-none");
        $("#OTPField").removeClass("d-none");
        $("#OTPBtn").addClass("d-none");
        $("#signupBtn").removeClass("d-none");
        $(".google-sign-in").addClass("d-none");}
      }
    });
  }
};
      var logo = document.querySelector(".logo");
      var btn = document.querySelector("#sign-up-btn");
      var logo2 = document.querySelector(".logo2");
      var btn2 = document.querySelector("#sign-in-btn");

      btn.addEventListener("click", function () {
        logo.style.display = "none";
        logo2.style.display = "block";
      });

      btn2.addEventListener("click", function () {
        logo2.style.display = "none";
        logo.style.display = "block";
      });

      function showPass() {
        var x = document.getElementById("PassField");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
      </script>
    <script src="{% static 'carsifydealers/js/app.js' %}"></script>
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
