:root{
  --main-bg-color: #007991;
  --secondary-bg-color:#5ec9a9;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html,body{
  width: 100%;
  height: 100%;
 
}

/*=======================================================================================================================================*/
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(128, 129, 129); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



.cont{
  width: 80% !important;
  margin-top: 50px;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}
/*=====================================refine by laptop =================================================*/
.refineby{
    padding: 20px auto;
    height: 80vh;
}
.scroll-refine{
  height: 70vh;
  overflow-y: scroll;
}
.refineby ul{
    list-style-type: none;
    padding: 10px 0px;
    
}
.refineby ul>li{
    margin: 10px 0px;
    padding: 13px 0px;
    border-bottom: 1px solid rgb(175, 173, 173);
}
.refineby ul>li>i{
    margin: 0px 10px 0px 0px;
}
.inner-refineby{
    display: none;
    margin-left: 20px;
    list-style-type: none;
    padding: 5px 0px !important;
    transition:all 2s ease-in-out ;
    transition-delay: 2s;
}
.inner-refineby li{
    margin: 0px 0px !important;
    padding: 5px 0px !important;
    border-bottom: 0px !important;
}
.inner-refineby li>input{
    margin-right: 10px;
    

}
.refine_label{
  margin-top: 15px;
}
.regLoc{
  outline: none;
    /* border: 1px solid rgba(83, 83, 83, 0.493)!important; */
    border: none;
    border-bottom: 1px solid rgb(83, 83, 83);
    margin-bottom: 10px;
    width: 80%;
    background: none !important;
    padding: 0px 8px 0px 0px;
    font-size: 16px;
}
.inputs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.model_year{
    outline: none;
    /* border: 1px solid rgba(83, 83, 83, 0.493)!important; */
    border: none;
    border-bottom: 1px solid rgb(83, 83, 83);
    margin-bottom: 10px;
    width:30%;
    background: none !important;
    padding: 0px 8px 0px 0px;
    font-size: 16px;
   
}
/*=====================================options sort/filter=============================================*/
.refinebymobile{
    width: 100%;
    height: 60px;
    bottom: 0 !important;
    background: var(--main-bg-color);  
	background: -webkit-linear-gradient(to right, var(--secondary-bg-color), var(--main-bg-color));  
	background: linear-gradient(to right, var(--secondary-bg-color), var(--main-bg-color));
    margin-bottom: 0px !important;
    padding-top:20px !important;
    position: fixed;
}
.refinebymobile ul{
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}
.refinebymobile ul>li{
    list-style-type: none;
    width: 50%;
    color: white;
}
.refinebymobile ul>li>i{
  margin-right: 10px;
}
/*=================================refine / filter by mobile =============================*/
.filter{
    max-height: 100vh;
    height: 100%;
    width: 100vw;
    background-color: #f3d9d1;
    position: absolute;
    bottom: 0;
    display: none;
    padding: 0 !important;
    overflow: auto;
}
.filter-nav{
  width: 100%;
  height: 8vh;
  background: var(--main-bg-color);  
	background: -webkit-linear-gradient(to right, var(--secondary-bg-color), var(--main-bg-color));  
	background: linear-gradient(to right, var(--secondary-bg-color), var(--main-bg-color));
  padding: 10px 40px;
  display: flex;
  align-items: center;
}
.filter-nav i{  
  font-size: 30px;
  margin-right: 20%;
  color: white;
}
.filter-nav p{
  font-size: 1rem;
  margin-bottom: 0px !important;
}
.filter-body{
  width: 100%;
  min-height:84vh;
  max-height: 84vh;
  background-color: rgb(255, 255, 246);
  overflow-y:scroll;
}
.mrefineby{
  padding: 50px 30px;
}

.filter-footer{
  width: 100%;
  height: 8vh;
  background: var(--main-bg-color);  
	background: -webkit-linear-gradient(to right, var(--secondary-bg-color), var(--main-bg-color));  
	background: linear-gradient(to right, var(--secondary-bg-color), var(--main-bg-color));
  display: flex; 
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content:center;
  color: white;

  
}
.filter-footer p{
  list-style-type: none;
  width: 50%;
  text-align: center;
  font-size: 1rem;
  margin: auto 0px;
}
.mrefineby ul>ul>li{
  margin: 20px 0px;
}
.mrefineby ul>ul>li>i{
  margin-right: 35px;
}
.mrefineby .inner-refineby{
  margin-left: 60px;
}
.car-number{
  font-size: 12px;
  padding-top: 5px;
}
/*====================sort==================================*/
.sort{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40vh;
  background-color: whitesmoke;
  display: none;
  padding:20px 30px 0px 30px;
}
.sort-icon i{
  margin-right: 5px;
}
.sort-div{
  height: 100%;

}
.sort-head{
  height: 20%;
}
.sort-cont{
  height: 80%;
}
.sort-cont ul{
  height: 100%;
}
.sort-cont ul>li{
  width: 100%;
  height: 20%;
}
.sort-cont ul>li>p>span{
  margin-left: 25px;
}
/*============================================cards===========================================*/
.cards{
  width: 100%;
  min-height: 300px;
  background-color: #edf8f8d8;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.cards-div{
  margin: auto;
  overflow-y: scroll;
  height: 78vh;
}
.card-pic{
  width: 100%;
  min-height: 100px;

}

.card-pic img{
  width: 100%;
  background-size:contain;
  border-radius: 5px;
  margin: 5px 0px 8px 0px;
  box-shadow: 0px 5px 5px rgba(8, 8, 8, 0.137);
}
.card-pic img:hover{
  filter: brightness(.4) blur(1px) opacity(.8);
}
.car-modal>i{
  margin-right: 10px;
}
.car-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.car-button>div>a>button{
  padding: 5px 20px;
  outline: none;
  border: none;
  border-radius:5px;
  background: #007991;  
	background: -webkit-linear-gradient(to right, #5ec9a9, #007991);  
	background: linear-gradient(to right, #5ec9a9, #007991); 
  color: white;
}

.car-button>div>i{
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  padding: 8px;
  border-radius: 10px;
}
#cars_label{
  font-weight: 600;
  font-size: 18px;
}
/* 
.select {
  position: relative;
  min-width: 200px;
}
.select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}
.select select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: rgb(187, 19, 19);
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}
.select select:required:invalid {
  color: #5a667f;
}
.select select option {
  color: #70d368;
}
.select select option[value=""][disabled] {
  display: none;
}
.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}
.select select:hover + svg {
  stroke: rgb(212, 209, 12);
}
.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
} */
/*=====================================media queries======================================*/
@media only screen and (max-width:1200px){
    .refineby{
        display: none !important;
    }
    .main-contect-ipad{
      width: 100%;
    }
    .cont{
      width: 100% !important;
      margin-top: 30px;
    }
    .sortlap{
      display: none !important;
    }
    .cards-div{
      padding-bottom: 30px !important;
    }

}
@media only screen and (min-width:1200px){
    .refinebymobile{
        display: none !important;
    }
    
}





/*  --Anshuman Edit-- */


.scrollable{
  margin-right:25px;
  background-color:transparent  !important;
  border: transparent;
  padding: 10px;
}

.scrollable .option{
  padding: 10px;
}



.slider-range{
  color: #5ec9a9!important;
  background-color: aquamarine!important;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 15px 0px 15px 0px;
}