table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.imagetable{
    margin-top: 30px;
    margin-bottom: 20px;
    
}


  .newimage{
      align-items: center;
  }


  .addimage{
    margin-top: 20px;
    padding: 5px 20px;
    outline: none;
    border: none;
    border-radius:5px;
    background: #007991;  
    background: -webkit-linear-gradient(to right, #5ec9a9, #007991);  
    background: linear-gradient(to right, #5ec9a9, #007991); 
    color: white;
    margin-bottom: 30px;
  }