*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row1>div>img{
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
}
.row1>div>a>i{
    margin-right: 10px;
}
.row1>div>a, .row>form>a{
    background: #007991;  
	background: -webkit-linear-gradient(to right, #5ec9a9, #007991);  
	background: linear-gradient(to right, #5ec9a9, #007991); 
    color: white !important;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px 20px;
    cursor: pointer;
    
}
.row1>div>div>h5>a{
    cursor: pointer;
    color: rgb(83, 83, 83);
    text-decoration: none;
}
.row1>div>div>h5>a>i{
    margin-right: 5px;
}
.row1>div>h6>i{
    margin-right:10px ;
}

.row2>div>div>hr ,.row3>div>div>hr{
    width: 160px;
    align-items: center;
    margin-top: 0.7rem !important;
    border-top: 3px solid rgba(150, 146, 146, 0.459) !important;
    margin-left: 5px;
}
.row2>div>h5{
    /* margin-top: 10px; */
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0px !important;
    color: rgba(0, 0, 0, 0.664);
}
.row2>div>div>h6{
    margin-bottom: 25px;
}
.row2>div>input{
    margin-bottom: 25px;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(83, 83, 83);
}
.row2>div>div>div>input,.row2>div>div>div>textarea{
    margin-bottom: 25px;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(83, 83, 83);
    width: 100%;
    font-size: 90%;
    scroll-behavior: unset;
    resize: none;
}
.row2>div>h6{
    font-size: 90%;
}
.contact .row{
    /* margin-top: 25px; */
    margin-bottom: 20px;
}
.contact>div>div>h6>i{
    margin-right: 10px;
}
.row3>div>div>h6{
    margin-bottom: 25px;
}
.row3 label{
    padding: 5px 0px;
    margin-bottom: 10px;
}
.row3 input{
    outline: none;
    /* border: 1px solid rgba(83, 83, 83, 0.493)!important; */
    border: none;
    border-bottom: 1px solid rgb(83, 83, 83);
    margin-bottom: 10px;
    width: 80%;
    background: none !important;
    padding: 5px 10px;
}
.upass{
  margin-top: 20px;
  padding: 5px 20px;
  outline: none;
  border: none;
  border-radius:5px;
  background: #007991;  
  background: -webkit-linear-gradient(to right, #5ec9a9, #007991);  
  background: linear-gradient(to right, #5ec9a9, #007991); 
  color: white;
  margin-bottom: 30px;
}

@media only screen and (max-width:1000px){
.row2{
    flex-direction: column-reverse;
}
.row2 .col-lg-3{
    margin-top: 30px;
}
}
@media only screen and (max-width:600px){
    #location{
        display: block !important;
    }
    .row1>div>img {
        width: 80%;
        min-height: 200px;
        border-radius: 10px;
        margin: 0 10%;
    }
}